<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Refugio de Animales</title>
    <!-- Cargo el CSS global -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Aquí se renderiza el contenido de cada vista -->
    @RenderBody()
</body>
</html>